a.home{
  display: inline-block;
	width: 1000px;
	height: 40px;
  font-size: 24px;
  color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	outline: none;
  background-color: #0b1671;
  margin-top: 1px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.home::before,.home::after, {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
a.home,a.home::after,a.home::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
  top: -100%;
	width: 100%;
	height: 100%;
}

a.home:hover {
  color: #0b1671;
  top: 0;
	background-color: #000;
}
